<%- include("header") -%>
  
  <div class="box" id="heading">
    <h1>
      <%= listTitle %>
    </h1>
  </div>

  <div class="box">

    <% for(var i=0; i<newAdd.length; i++){ %>

      <div class="item">
        <input type="checkbox">
        <p>
          <%= newAdd[i] %>
        </p>
      </div>

      <% } %>

      <form class="item" action="/" method="post">

        <input type="text" name="newItem" placeholder="new item" autocomplete="off">
        <button type="submit" name="btn" value=<%= listTitle %>> + </button>
    
      </form>

  </div>

<%- include("footer") -%>

<!-- we have to add these tags which are not html -->

<!-- At line 25 if we press the button in the new list it will add the item into the old list in order to avoid that we will add a <%=listTitle%> so that button can know where to redirect. -->
